#contacts {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),url('/img/contact-mountain.png');
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    margin: auto;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-wrapper {
    background: rgba(23, 23, 26,0.7);
    width: 60%;
    color: white;
    border-radius: 20px;
}

.form-head {
    text-align: center;
    padding: 4rem;
}

.name-form,.email-form {
    padding: 3rem;
    text-align: center;
}

.form-wrapper label {
    margin: 0rem 3rem;
}

.form-wrapper button {
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-wrapper input {
    padding: 1rem 3rem;
}