.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),url('/img/landing-page.jpg');
    min-height: 90vh;
    color: white;
    text-align: center;
    @include background();
    @include flex();
}

.hero h3 {
    padding: 5rem;
}